<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="title">
            <img :src="src" alt="" class="logo" />
            <h1>{{ title }}</h1>
            <div class="description">
              <!-- 
                如果第一天就藏起來 => index == 0  如果不是第一天就show出來 => index !=0 
                v-if 決定要不要render出來
              -->
              <a
                v-if="index > 0"
                class="arrow left"
                @click="changeIndex(-1)"
              ></a>
              <!-- v-on可以縮寫為@ v-bind可以縮寫為:-->
              <!-- 如果index > 0 就顯示 -->
              <!-- <div class="menuItem white" style="transform:scale3d(1.5,1.5,1)"> -->
              <div class="menuItem white" style="display: inline-block">
                <span class="number">{{ index + 1 }}</span>
                <!-- <span class="type">{{ menu[index].type }}</span> -->
                <span class="type">{{ today.type }}</span>
                <a :href="menu[index].link" class="title" target="vue-iron">
                  {{ today.title }}
                  <!-- {{menu[index].title}} -->
                </a>
              </div>
              <a
                v-if="index < total - 1"
                class="arrow right"
                @click="changeIndex(1)"
              ></a>
              <!-- 
              v-on可以縮寫為@ v-bind可以縮寫為:
              v-if 決定要不要render出來
              如果是最後一天就藏起來  如果不是最後一天就show出來 index != this.menu.length -1 -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      let data = {
        //let與const是區塊作用域
        title: 'Vue.js 手牽手，一起嗑光全家桶',
        src: './images/vue-iron.png',
        index: 0,
        //物件配陣列
        menu: [
          {
            type: '主廚的話',
            title: '餐點簡介與相關說明',
            link: 'javascript:;'
          },
          {
            type: '餐具擺盤',
            title: '萬用白磁 VS Code 與套裝工具組',
            link: 'javascript:;'
          },
          {
            type: '開胃餐點',
            title: '中式資料綁定佐無毒jQuery畫面處理',
            link: 'javascript:;'
          },
          {
            type: '開胃餐點',
            title: '古早味事件燉畫面綁定',
            link: 'javascript:;'
          },
          {
            type: '開胃餐點',
            title: '清爽表單處理佐雙向資料',
            link: 'javascript:;'
          },
          {
            type: '開胃餐點',
            title: '使用者輸入焗列表呈現',
            link: 'javascript:;'
          },
          {
            type: '開胃餐點',
            title: '其間限定篩選佐資料轉換',
            link: 'javascript:;'
          },
          {
            type: '開胃餐點',
            title: '峰峰相連互動式資料表單',
            link: 'javascript:;'
          }
        ]
      }
      let vm = new Vue({
        el: '#app',
        data: data,
        computed: {
          //做資料處理，把9筆處理成1筆
          today() {
            return this.menu[this.index]
          },
          total() {
            return this.menu.length
          }
        },
        methods: {
          //功能
          // changeIndex:function(){一般寫法}
          changeIndex(change) {
            //ES6寫法

            //以前寫法如下
            // this.index += change
            // if (this.index < 0) this.index = this.menu.length - 1
            // else if (this.index > this.menu.length - 1)
            //   this.index = 0
            //這裡的this指向整個vue
            // this.index = (this.index + change + this.menu.length) % this.menu.length
            //用餘數來取多少數字的編號 ex 30/30 餘0 又回到0 31/30餘1 又回到1
            this.index = (this.index + change + this.total) % this.total
          }
        }
      })

      //現在要寫按下arrow時切換
      //以往寫法找到人XXX，在click時，做function功能
      //                      who                     when     what
      // document.querySelector('XXX').addEventListener('click', function() {
      //   //事件監聽
      // })

      //現在直接寫在arrow v-on:click=""
    </script>
  </body>
</html>
