.title {
  height: 400px;
}
.left,
.right {
  display: inline-block;
  font-size: 0;
  padding: 1rem;
  background-color: #555;
}
.left::before {
  content: '<';
  font-size: 1rem;
  color: #ffffff;
}
.right::before {
  content: '>';
  font-size: 1rem;
  color: #ffffff;
}
